<div class="container">
  <div class="row">
    <h2>Search Jobs
    </h2>
    <%= form_tag("/search", method: "get") do %>
      <div id="custom-search-input">
      <div class="input-group col-md-6 col-centered">
          <input id="q" name="q" type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
              <button class="btn btn-danger" type="search">
                  <span class=" glyphicon glyphicon-search"></span>
              </button>
          </span>
      </div>
    </div>
    <% end %>    
  </div>
</div>
