<div class="container">
  <div class="row">
    <h2>Search Jobs
    </h2>
    <%= form_tag("/search", method: "get") do %>
      <div id="custom-search-input">
      <div class="input-group col-md-6">
          <input id="q" name="q" type="text" class="search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
              <button class="btn btn-danger" type="search">
                  <span class=" glyphicon glyphicon-search"></span>
              </button>
          </span>
      </div>
    </div>
    <% end %>    
  </div>
  <div class="row">
  	<ul class="list-group">
	  	<%= @jobss.each do|job| %>		
  		  <li class="list-group-item">
  		  	<p>
  		  		<%= "#{job.title} at #{job.city}" %> 
  		  	</p>
  		  	<p>
  		  		<%= "#{job.body}" %>
  		  	</p>
  		  	
  		  </li>
		  <% end %>
	 </ul>	
  </div>
</div>

